# Spring
spring:
  cloud:
    nacos:
      config: # 配置中心
        server-addr: 47.98.35.95:8848
        namespace: 842a9626-6dea-4168-b1fd-4ccf9ad3a69c
      discovery: # 注册中心
        server-addr: 47.98.35.95:8848
        namespace: 842a9626-6dea-4168-b1fd-4ccf9ad3a69c
    gateway:
      discovery:
        locator:
          # 是否与服务注册于发现组件进行结合，通过 serviceId 转发到具体的服务实例。默认为 false，设为 true 便开启通过服务中心的自动根据 serviceId 创建路由的功能。
          enabled: true
          lower-case-service-id: true
      #        routes:
      #          - id: provider_route
      #            uri: lb://user-service # lb代表从注册中心获取服务
      #            predicates:
      #              - Path=/user-service/** # 指定具体路径匹配
      #            filters:
      #              - StripPrefix=1
      globalcors:
        cors-configurations: # 跨域配置
          '[/**]':
            allowCredentials: true
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
        add-to-simple-url-handler-mapping: true
  redis:
    host: 10.100.50.141
    port: 7001
    password:
    timeout: 5000
    database: 0
#设置feign客户端超时时间(openFeign默认支持ribbon),同时配置ribbon和feign的超时时间，feign会覆盖ribbon
ribbon:
  #指的是建立连接所用的时间，适用于网络状况iE常的情况下两端连接所用的时间
  ReadTimeout: 10000
  #指的是建立连接后从服务器读取到可用资源所用的时间
  ConnectTimeout: 10000

# 权限过滤url AuthProvider.class中也可以配置
secure:
  skip-url:
    - /user/hello
    - /user/login