<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.workflow.mapper.HisTaskinstMapper">
  <resultMap id="BaseResultMap" type="com.wj.workflow.entity.HisTaskinst">
    <!--@mbg.generated-->
    <!--@Table workflow_his_taskinst-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="proc_def_id" jdbcType="BIGINT" property="procDefId" />
    <result column="proc_inst_id" jdbcType="BIGINT" property="procInstId" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="task_def_id" jdbcType="VARCHAR" property="taskDefId" />
    <result column="task_def_name" jdbcType="VARCHAR" property="taskDefName" />
    <result column="execution_id" jdbcType="BIGINT" property="executionId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="client" jdbcType="VARCHAR" property="client" />
    <result column="assignee" jdbcType="VARCHAR" property="assignee" />
    <result column="passed" jdbcType="INTEGER" property="passed" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, proc_def_id, proc_inst_id, task_id, task_def_id, task_def_name, execution_id, 
    parent_id, client, assignee, passed, message, start_time, end_time, create_by, create_time, 
    update_by, update_time, is_delete
  </sql>
</mapper>