<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.workflow.mapper.RunVariableMapper">
  <resultMap id="BaseResultMap" type="com.wj.workflow.entity.RunVariable">
    <!--@mbg.generated-->
    <!--@Table workflow_run_variable-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rev" jdbcType="INTEGER" property="rev" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="proc_inst_id" jdbcType="BIGINT" property="procInstId" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="type_double" jdbcType="FLOAT" property="typeDouble" />
    <result column="type_long" jdbcType="DECIMAL" property="typeLong" />
    <result column="type_string" jdbcType="LONGVARCHAR" property="typeString" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, rev, `name`, proc_inst_id, task_id, type_double, type_long, type_string, create_by, 
    create_time, update_by, update_time, is_delete
  </sql>
</mapper>